
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  max-width: 320px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.card img {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.card h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.card p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 0.5rem;
}
